{
  "extends": [
    "stylelint-config-sass-guidelines",
    "./node_modules/prettier-stylelint/config.js"
  ],
  "rules": {
    "indentation": 2,
    "string-quotes": "single",
    "max-nesting-depth": 3,
    "selector-max-id": 1,
    "selector-no-qualifying-type": [
      true,
      {
        "ignore": [
          "attribute", "class"
        ]
      }
    ]
  }
}
